In [62]:
import pandas as pd
import numpy as np
%matplotlib inline
start_time = pd.datetime.now()
import timeit

In [63]:
#mydata = pd.read_csv('Raios.csv')

In [64]:
mydata = pd.read_csv('NY property data.csv')

# Data Cleaning

Filling missing ZIP grouped by Borough

In [65]:
mydata["ZIP"] = mydata.groupby("B")["ZIP"].transform(lambda x: x.fillna(x.value_counts().index[0]))

Create Zip3

In [66]:
mydata["ZIP3"] = [int(str(i)[:3]) for i in mydata['ZIP']]

Make BLDGCL only alphabets

In [67]:
mydata['BLDGCL'] = mydata['BLDGCL'].str.replace('\d+', '')
mydata['BLDGCL'].unique()

array(['P', 'Z', 'Y', 'T', 'Q', 'R', 'O', 'K', 'L', 'S', 'H', 'U', 'M',
       'D', 'RR', 'W', 'V', 'C', 'G', 'A', 'E', 'B', 'I', 'F', 'N', 'J'],
      dtype=object)

Filling missing Stories group by BLDGCL , ZIP or B

In [68]:
mydata["STORIES"] = mydata.groupby(['ZIP','BLDGCL'])["STORIES"].transform(lambda x: x.fillna(x.mean()))
mydata["STORIES"] = mydata.groupby(['ZIP3','BLDGCL'])["STORIES"].transform(lambda x: x.fillna(x.mean()))
mydata['STORIES'] = mydata.groupby(['B','BLDGCL'])["STORIES"].transform(lambda x: x.fillna(x.mean()))
mydata["STORIES"] = mydata.groupby('BLDGCL')["STORIES"].transform(lambda x: x.fillna(x.mean()))

Filling zero BLDFRONT, BLDDEPTH, LTFRONT, LTDEPTH with group by mean of BLDGCL , ZIP or B

In [69]:
mydata['BLDFRONT'] = mydata.groupby(['ZIP','BLDGCL'])["BLDFRONT"].transform(lambda x: x.replace(0,x.mean()))
mydata['BLDFRONT'] = mydata.groupby(['ZIP3','BLDGCL'])["BLDFRONT"].transform(lambda x: x.replace(0,x.mean()))
mydata['BLDFRONT'] = mydata.groupby(['B','BLDGCL'])["BLDFRONT"].transform(lambda x: x.replace(0,x.mean()))
mydata['BLDFRONT'] = mydata.groupby('BLDGCL')["BLDFRONT"].transform(lambda x: x.replace(0,x.mean()))

In [70]:
mydata['BLDDEPTH'] = mydata.groupby(['ZIP','BLDGCL'])["BLDDEPTH"].transform(lambda x: x.replace(0,x.mean()))
mydata['BLDDEPTH'] = mydata.groupby(['ZIP3','BLDGCL'])["BLDDEPTH"].transform(lambda x: x.replace(0,x.mean()))
mydata['BLDDEPTH'] = mydata.groupby(['B','BLDGCL'])["BLDDEPTH"].transform(lambda x: x.replace(0,x.mean()))
mydata['BLDDEPTH'] = mydata.groupby('BLDGCL')["BLDDEPTH"].transform(lambda x: x.replace(0,x.mean()))

In [71]:
mydata['LTFRONT'] = mydata.groupby(['ZIP','BLDGCL'])["LTFRONT"].transform(lambda x: x.replace(0,x.mean()))
mydata['LTFRONT'] = mydata.groupby(['ZIP3','BLDGCL'])["LTFRONT"].transform(lambda x: x.replace(0,x.mean()))
mydata['LTFRONT'] = mydata.groupby(['B','BLDGCL'])["LTFRONT"].transform(lambda x: x.replace(0,x.mean()))
mydata['LTFRONT'] = mydata.groupby('BLDGCL')["LTFRONT"].transform(lambda x: x.replace(0,x.mean()))

In [72]:
mydata['LTDEPTH'] = mydata.groupby(['ZIP','BLDGCL'])["LTDEPTH"].transform(lambda x: x.replace(0,x.mean()))
mydata['LTDEPTH'] = mydata.groupby(['ZIP3','BLDGCL'])["LTDEPTH"].transform(lambda x: x.replace(0,x.mean()))
mydata['LTDEPTH'] = mydata.groupby(['B','BLDGCL'])["LTDEPTH"].transform(lambda x: x.replace(0,x.mean()))
mydata['LTDEPTH'] = mydata.groupby('BLDGCL')["LTDEPTH"].transform(lambda x: x.replace(0,x.mean()))

Filling zero value FULLVAL, AVTOT, AVLAND with group by mean of BLDGCL , ZIP or B

In [73]:
mydata['FULLVAL'] = mydata.groupby(['ZIP','BLDGCL'])["FULLVAL"].transform(lambda x: x.replace(0,x.mean()))
mydata['FULLVAL'] = mydata.groupby(['ZIP3','BLDGCL'])["FULLVAL"].transform(lambda x: x.replace(0,x.mean()))
mydata['FULLVAL'] = mydata.groupby(['B','BLDGCL'])["FULLVAL"].transform(lambda x: x.replace(0,x.mean()))
mydata['FULLVAL'] = mydata.groupby('BLDGCL')["FULLVAL"].transform(lambda x: x.replace(0,x.mean()))

In [74]:
mydata['AVTOT'] = mydata.groupby(['ZIP','BLDGCL'])["AVTOT"].transform(lambda x: x.replace(0,x.mean()))
mydata['AVTOT'] = mydata.groupby(['ZIP3','BLDGCL'])["AVTOT"].transform(lambda x: x.replace(0,x.mean()))
mydata['AVTOT'] = mydata.groupby(['B','BLDGCL'])["AVTOT"].transform(lambda x: x.replace(0,x.mean()))
mydata['AVTOT'] = mydata.groupby('BLDGCL')["AVTOT"].transform(lambda x: x.replace(0,x.mean()))

In [75]:
mydata['AVLAND'] = mydata.groupby(['ZIP','BLDGCL'])["AVLAND"].transform(lambda x: x.replace(0,x.mean()))
mydata['AVLAND'] = mydata.groupby(['ZIP3','BLDGCL'])["AVLAND"].transform(lambda x: x.replace(0,x.mean()))
mydata['AVLAND'] = mydata.groupby(['B','BLDGCL'])["AVLAND"].transform(lambda x: x.replace(0,x.mean()))
mydata['AVLAND'] = mydata.groupby('BLDGCL')["AVLAND"].transform(lambda x: x.replace(0,x.mean()))

Create 3 variables: LOTAREA, BLDAREA, BLDVOL

In [76]:
mydata['LOTAREA'] = mydata['LTFRONT'] * mydata['LTDEPTH']
mydata['BLDAREA'] = mydata['BLDFRONT'] * mydata['BLDDEPTH']
mydata['BLDVOL'] = mydata['BLDAREA'] * mydata['STORIES']

Create 9 ratios

In [77]:
mydata['R1'] = mydata['FULLVAL'] / mydata['LOTAREA']
mydata['R2'] = mydata['FULLVAL'] / mydata['BLDAREA']
mydata['R3'] = mydata['FULLVAL'] / mydata['BLDVOL']
mydata['R4'] = mydata['AVLAND'] / mydata['LOTAREA']
mydata['R5'] = mydata['AVLAND'] / mydata['BLDAREA']
mydata['R6'] = mydata['AVLAND'] / mydata['BLDVOL']
mydata['R7'] = mydata['AVTOT'] / mydata['LOTAREA']
mydata['R8'] = mydata['AVTOT'] / mydata['BLDAREA']
mydata['R9'] = mydata['AVTOT'] / mydata['BLDVOL']

Calculate the 45 variables

In [78]:
groups = ['ZIP','ZIP3','TAXCLASS','B', 'ALL']
ratios = ['R1','R2','R3','R4','R5','R6','R7','R8','R9']
start = timeit.default_timer()
for r in ratios:
    for g in groups:
        if g == 'ALL':
            mydata[rf'{r}_by_{g}'] = mydata[r]/mydata[r].mean()
            stop = timeit.default_timer()
            print(f'Finished {r}_by_{g} ----> Runtime: {round(stop-start,3)}s')
        else:
            mydata[rf'{r}_by_{g}'] = mydata[r]/mydata.groupby(g)[r].transform('mean')
            stop = timeit.default_timer()
            print(f'Finished {r}_by_{g} ----> Runtime: {round(stop-start,3)}s')
print(f'TOTAL RUNTIME: {round(timeit.default_timer()-start,3)}s')

Finished R1_by_ZIP ----> Runtime: 0.294s
Finished R1_by_ZIP3 ----> Runtime: 0.581s
Finished R1_by_TAXCLASS ----> Runtime: 0.901s
Finished R1_by_B ----> Runtime: 1.203s
Finished R1_by_ALL ----> Runtime: 1.211s
Finished R2_by_ZIP ----> Runtime: 1.545s
Finished R2_by_ZIP3 ----> Runtime: 1.872s
Finished R2_by_TAXCLASS ----> Runtime: 2.228s
Finished R2_by_B ----> Runtime: 2.57s
Finished R2_by_ALL ----> Runtime: 2.578s
Finished R3_by_ZIP ----> Runtime: 2.938s
Finished R3_by_ZIP3 ----> Runtime: 3.31s
Finished R3_by_TAXCLASS ----> Runtime: 3.715s
Finished R3_by_B ----> Runtime: 4.102s
Finished R3_by_ALL ----> Runtime: 4.111s
Finished R4_by_ZIP ----> Runtime: 4.52s
Finished R4_by_ZIP3 ----> Runtime: 4.931s
Finished R4_by_TAXCLASS ----> Runtime: 5.386s
Finished R4_by_B ----> Runtime: 5.815s
Finished R4_by_ALL ----> Runtime: 5.824s
Finished R5_by_ZIP ----> Runtime: 6.281s
Finished R5_by_ZIP3 ----> Runtime: 6.725s
Finished R5_by_TAXCLASS ----> Runtime: 7.217s
Finished R5_by_B ----> Runtime: 7.687s
Finished R5_by_ALL ----> Runtime: 7.695s
Finished R6_by_ZIP ----> Runtime: 8.177s
Finished R6_by_ZIP3 ----> Runtime: 8.679s
Finished R6_by_TAXCLASS ----> Runtime: 9.202s
Finished R6_by_B ----> Runtime: 9.706s
Finished R6_by_ALL ----> Runtime: 9.715s
Finished R7_by_ZIP ----> Runtime: 10.241s
Finished R7_by_ZIP3 ----> Runtime: 10.769s
Finished R7_by_TAXCLASS ----> Runtime: 11.328s
Finished R7_by_B ----> Runtime: 11.876s
Finished R7_by_ALL ----> Runtime: 11.885s
Finished R8_by_ZIP ----> Runtime: 12.456s
Finished R8_by_ZIP3 ----> Runtime: 13.018s
Finished R8_by_TAXCLASS ----> Runtime: 13.624s
Finished R8_by_B ----> Runtime: 14.202s
Finished R8_by_ALL ----> Runtime: 14.21s
Finished R9_by_ZIP ----> Runtime: 14.82s
Finished R9_by_ZIP3 ----> Runtime: 15.442s
Finished R9_by_TAXCLASS ----> Runtime: 16.084s
Finished R9_by_B ----> Runtime: 16.704s
Finished R9_by_ALL ----> Runtime: 16.713s
TOTAL RUNTIME: 16.713s

In [82]:
mydata[['RECORD','R8_by_ALL']]

          RECORD     R8_by_ALL
0              1  7.355430e-05
1              2  4.726828e-05
2              3  9.898064e-07
3              4  3.164481e-06
4              5  2.029410e-04
...          ...           ...
1070989  1070990  2.512151e-07
1070990  1070991  1.507585e-07
1070991  1070992  2.513441e-07
1070992  1070993  2.880256e-07
1070993  1070994  2.613206e-07

[1070994 rows x 2 columns]

Write to CSV

In [ ]:
#mydata.to_csv(r'Ratios.csv')